
<div class="footer" >

    <div class="inline-footer">
        <h3>VISIT US</h3>  
        <p>CodeSquad Comics <br>
        123 Dorchester Avenue <br>
        Boston, MA 02124</p>
    </div>

    <div class="inline-footer"> 
        <h3>LINKS</h3>
        <a href="/" > Home</a> <br>
        <a href="/about"> About </a> <br>
        <a href="/login"> Login </a> <br> <br>
    </div>

    <div class="inline-footer">
        <h3>FOLLOW US</h3>
        <div class="awesome">
        <a href="https://www.facebook.com/CodeSquadOrg" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-facebook"></i>
        <a href="#" rel="noopener noreferrer"> <i class="fa-brands fa-instagram"></i> </a>
        <a href="#" rel="noopener noreferrer"> <i class="fa-brands fa-twitter"></i> </a>
        </div>
    </div>

    <div class="inline-footer">
        <h3>A PRODUCT OF </h3>
        <a href="http://codesquad.org" target="_blank" rel="noopener noreferrer"><img class="flogo" src="/images/CodeSquad-logo-b.png" alt=""></a>
    </div>    
</div>
</body>
</html>