<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.75">
    <link href='//fonts.googleapis.com/css?family=Open Sans|Fredericka the Great' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/1f172719e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/cs-favicon.png">


    <title>Index</title>
</head>