
<body>

    <div class="navbar"> 
        <div class="navbar-logo">
            <a href="./" target="_self"><img class="nlogo" src="/images/CodeSquad-Comics-logo.png" alt=""></a>
        </div>
    
        <div class="inline">
            <div class="inline1"> <a href="/"> HOME </a> </div>
            <div class="inline2"> <a href="/about"> ABOUT </a> </div>
            <div class="inline3"> <a href="/login"> LOGIN </a> </div>
        </div> 

        <div class="hamburger">
            <a href="#" rel="noopener noreferrer"> <i class="fa-sharp fa-solid fa-bars fa-xl fa-spin" style="--fa-animation-duration: 15s"></i> </a>
                <div class="inline-content">
                    <div class="inline1"> <a href="/"> HOME </a> </div>
                    <div class="inline2"> <a href="/about"> ABOUT </a> </div>
                    <div class="inline3"> <a href="/login"> LOGIN </a> </div>
                </div>
        </div>
    
    </div> 