<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 


<style>
    
    ::-webkit-scrollbar:vertical{
        display:none;
    }

    ::-webkit-scrollbar {
        width: 1%;
        height: 35px;
    }
    
    ::-webkit-scrollbar-track {
        background: #063C5e;; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: #fccf14; 
    }

</style>



<div class="outside">
    <br><br><br><br><br>
    <div class="main-body" id="scrollbar">
    <h1>ADMIN PAGE</h1>

    <a href='./create-book'><button class="delete" id="addNewComic"> ADD NEW COMIC </button></a>  <br> <br>

    <table class="table">
        <tr>
            <th>COMIC TITLE</th>
            <th >EDIT</th>
            <th>DELETE</th>
        </tr>
        <tr>
            <td>Batman: The Dark Knight Returns </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> Black Panther: A Nation Under Our Feet Book 1 </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> Fun Home: A Family Tragicomic </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> Hunter X Hunter Vol. 1 </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> Lumberjanes Vol. 1 </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> March: Book One </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> One Piece, Vol. 1: Romance Dawn </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> Parable of the Sower </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> Queer: A Graphic History </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> The Walking Dead, Vol.1: Days Gone Bye </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> Wake: The Hidden History of Women-Led Slave Revolts </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>
        <tr>
            <td> Watchmen </td>
            <td><button class="edit">EDIT</button></td>
            <td><button class="delete">DELETE</button></td>
        </tr>

    </table> <br>
</div> <br><br><br><br><br>
</div>

<div class="footer" >

    <div class="inline-footer">
        <h3>VISIT US</h3>  
        <p>CodeSquad Comics <br>
        123 Dorchester Avenue <br>
        Boston, MA 02124</p>
    </div>

    <%- include('../partials/footer') -%> 