<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 




<div class="outside"> <br><br><br><br><br>
    
<div class="panther-main">
    <div class="panther-first">
        
        <div class="panther-title">
            <h2 class="title-panther"> BLACK PANTHER: A NATION <br> UNDER OUR FEET BOOK 1 </h1>
        </div>
        
        <div class="fsecond">
            <img class="black-panther" src="/images/black-panther.jpg" alt="black-panther">
        </div> <br>
    </div>

    <div class="panther-second">
        <p class="description"> <span class="stitle"> Title:</span> <span class="stitle1"> Black Panther: A Nation Under Our Feet Book 1 </span> <br>
        <br> <span class="stitle"> Author:</span> Ta-Nehisi Coates <br>
        <br> <span class="stitle"> Publisher:</span> Marvel <br>
        <br> <span class="stitle"> Genre:</span> superhero <br>
        <br> <span class="stitle"> Number of pages:</span> 144 <br>
        <br> <span class="stitle"> Rating:</span> 3 <br>
        <br> <span class="stitle"> Synopsis:</span> A new era begins for the Black Panther! MacArthur Genius and National Book Award-winning writer Ta-Nehisi Coates <span class="stitle1"> (Between the World and Me) </span> takes the helm, confronting T'Challa with a dramatic upheaval in Wakanda that will make leading the African nation tougher than ever before. When a superhuman terrorist group that calls itself The People sparks a violent uprising, the land famed for its incredible technology and proud warrior traditions will be thrown into turmoil. If Wakanda is to survive, it must adapt--but can its monarch, one in a long line of Black Panthers, survive the necessary change? Heavy lies the head that wears the cowl! <br>
        </p>
    </div>
</div> <br><br><br><br><br>

<%- include('../partials/footer') -%> 