<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

    
<div class="outside"> <br><br><br><br><br>
    <div class="main-body">
    <h1>LOGIN</h1>
    <form class="createForm" action="#">
  <div class="responsive-form">      
    <label for="email">Email address: </label>
    <input type="email" name="email" id="email" placeholder="Email"> <br> <br>
    
    <label for="pass">Password: </label>
    <input type="password" name="pass" id="pass" placeholder="Password"> <br> <br> <br> 
  </div>
</form>
<button type="submit" id="Submit" class="delete"> Submit </button>
</div> <br><br><br><br><br>
</div>


<%- include('../partials/footer') -%> 