<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.75">
    <link href='//fonts.googleapis.com/css?family=Open Sans|Fredericka the Great' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="public/styles/styles.css">
    <script src="https://kit.fontawesome.com/1f172719e9.js" crossorigin="anonymous"></script>
    <title>Update</title>
</head>
<body>


    <div class="navbar"> 
        <div class="navbar-logo">
            <a href="index.html" target="_self"><img class="nlogo" src="public/images/CodeSquad-Comics-logo.png" alt=""></a>
        </div>
    
        <div class="inline">
            <div class="inline1"> <a href="index.html"> HOME </a> </div>
            <div class="inline2"> <a href="about.html"> ABOUT </a> </div>
            <div class="inline3"> <a href="login.html"> LOGIN </a> </div>
        </div> 

        <div class="hamburger">
            <a href="#" rel="noopener noreferrer"> <i class="fa-sharp fa-solid fa-bars fa-xl fa-spin" style="--fa-animation-duration: 15s"></i> </a>
                <div class="inline-content">
                    <div class="inline1"> <a href="index.html"> HOME </a> </div>
                    <div class="inline2"> <a href="about.html"> ABOUT </a> </div>
                    <div class="inline3"> <a href="login.html"> LOGIN </a> </div>
                </div>
        </div>
    
    </div> 



<div class="outside"> <br><br><br><br><br>
    <div class="main-body">    
    <h1>UPDATE COMIC</h1>
    <form class="createForm" action="#">
    <div class="responsive-form">    
    <label for="title">Title: </label>
    <input type="text" id="title" value="title value stored in database"> <br> <br>
    
    <label for="author">Author: </label>
    <input type="text" id="author" value="author value stored in database"> <br> <br> 

    <label for="publisher">Publisher: </label>
    <select name="publisher" id="publisher">
        <option value="BOOM! Box"> BOOM! Box </option>
        <option value="DC Comics"> DC Comics </option>
        <option value="Harry N. Abrams">Harry N. Abrams</option>
        <option value="Icon Books">Icon Books</option>
        <option value="Image Comics">Image Comics</option>
        <option value="Marvel">Marvel</option>
        <option value="Simon & Schuster">Simon & Schuster</option>
        <option value="Top Shelf Productions">Top Shelf Productions</option>
        <option value="VIZ Media LLC">VIZ Media LLC</option>
        <option value="publisher value stored in database" selected> publisher value stored in database </option>
    </select> <br> <br>

    <label for="genre">Genre: </label>
    <input type="text" name="genre" id="genre" value="genre data stored in database"> <br> <br>

    <label for="pages">Number of Pages: </label>
    <input type="number" name="pages" id="pages" value="255"> <br> <br>

    <label for="rating">Rating: </label>
    <input type="number" name="rating" id="rating" value="5"> <br> <br>

    <label for="synopsis">Synopsis: </label>
    <textarea name="synopsis" id="synopsis" cols="20" rows="2">synopsis value stored in database</textarea> <br><br><br>
    </div>
</form>

<button type="submit" id="Submit" class="delete"> Submit </button>

</div> <br><br><br><br><br>
</div>

<div class="footer" >

    <div class="inline-footer">
        <h3>VISIT US</h3>  
        <p>CodeSquad Comics <br>
        123 Dorchester Avenue <br>
        Boston, MA 02124</p>
    </div>

    <div class="inline-footer"> 
        <h3>LINKS</h3>
        <a href="index.html" > Home</a> <br>
        <a href="about.html"> About </a> <br>
        <a href="login.html"> Login </a> <br> <br>
    </div>

    <div class="inline-footer">
        <h3>FOLLOW US</h3>
        <div class="awesome">
        <a href="https://www.facebook.com/CodeSquadOrg" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-facebook"></i>
        <a href="#" rel="noopener noreferrer"> <i class="fa-brands fa-instagram"></i> </a>
        <a href="#" rel="noopener noreferrer"> <i class="fa-brands fa-twitter"></i> </a>
        </div>
    </div>

    <div class="inline-footer">
        <h3>A PRODUCT OF </h3>
        <a href="http://codesquad.org" target="_blank" rel="noopener noreferrer"><img class="flogo" src="public/images/CodeSquad-logo-b.png" alt=""></a>
    </div>    
</div>
</body>
</html>