body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

.navbar {
 background-color: #063C5e ;
}

.list{
    list-style: none;
}

a {
    color: white;
}

.th {
    text-align: center;
}

.numberinput {
    width: 24px;
}

.nlogo {
    width: 300px;
}

.flogo {
    width: 150px;
}

.footer{
    background-color: #063C5e ;
    color: white;
    border-top: 10px solid #fccf14;
    padding-left: 10px;
   }